<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>Watch movies for free on Movies Get</title>
    <link rel="preconnect" href="https://fonts.pycode.tk/" />
    <link rel="preconnect" href="https://res.cloudinary.com/" />
    <link rel="preconnect" href="https://movies-get.herokuapp.com/" />
    <meta name="description" content="pycode.tk" />
    <link
      rel="preload"
      href="https://fonts.pycode.tk/open-sans.css"
      as="style"
    />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <% for (const val of Object.values(htmlWebpackPlugin.files.chunks)) { %>
    <link href="<%= val.entry %>" rel="preload" as="script" />
    <% if(!val.entry.includes("vendors")){ %>
    <script defer src="<%= val.entry %>"></script>
    <% } else{ %>
    <script src="<%= val.entry %>"></script>
    <% } %> <% } %>
  </head>
  <body>
    <div id="app-root"></div>
  </body>
</html>
