<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>Watch Movies for free on Movies-get!</title>
    <meta name="description" content="movies.pycode.tk" />
    <link rel="preconnect" href="https://fonts.pycode.tk/" />
    <link rel="preconnect" href="https://res.cloudinary.com/" />
    <link rel="preconnect" href="https://movies-get.herokuapp.com/" />

    <script>
       <% for (const {id,config} of htmlWebpackPlugin.options.configs) { %> window["<%= id %>"]=JSON.parse(<%= JSON.stringify(JSON.stringify(config)) %>);<% } %>
       (function () {
        window.__getLink = function (href, rel) {
          var link = document.createElement("link");
          link.rel = rel;
          link.href = href;
          document.head.appendChild(link);
        }; 
      })();
    </script>
    <link
      rel="preload"
      href="https://fonts.pycode.tk/open-sans.css"
      as="style"
    />
    <base href="/" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
  </head>

  <body>
    <div id="app-root" style="display: none"></div>
    <template is="custom" custom-element="loading-spinner"
      ><style>
        .spinner {
          margin: auto;
          height: 50px;
          width: 50px;
          animation: rotate 0.8s infinite linear;
          border: 6px solid var(--background-color);
          border-right-color: var(--primary-color);
          border-radius: 50%;
        }
        @keyframes rotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
        
      </style>
      <div class="spinner"></div
    ></template>
    <noscript>This Application uses JavaScript..</noscript>
  </body>
</html>
