header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  overflow: hidden;
  background: var(--primary-color);
  text-align: center;
  color: #ffffff;
}
